<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WicWeb1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>Servletler.Filters.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>Tc</param-name>
    <param-value>tc</param-value>
  </context-param>
  <context-param>
    <param-name>Ad</param-name>
    <param-value>ad</param-value>
  </context-param>
  <context-param>
    <param-name>Soyad</param-name>
    <param-value>soyad</param-value>
  </context-param>
  <context-param>
    <param-name>Email</param-name>
    <param-value>email</param-value>
  </context-param>
  <context-param>
    <param-name>AdresTip</param-name>
    <param-value>adresTip</param-value>
  </context-param>
  <context-param>
    <param-name>Mahalle</param-name>
    <param-value>mahalle</param-value>
  </context-param>
  <context-param>
    <param-name>Cadde</param-name>
    <param-value>cadde</param-value>
  </context-param>
  <context-param>
    <param-name>Sokak</param-name>
    <param-value>sokak</param-value>
  </context-param>
  <context-param>
    <param-name>No</param-name>
    <param-value>kapiNo</param-value>
  </context-param>
  <context-param>
    <param-name>Il</param-name>
    <param-value>il</param-value>
  </context-param>
  <context-param>
    <param-name>TelTip</param-name>
    <param-value>telTip</param-value>
  </context-param>
  <context-param>
    <param-name>Numara</param-name>
    <param-value>numara</param-value>
  </context-param>
  <context-param>
    <param-name>Numara</param-name>
    <param-value>telNo</param-value>
  </context-param>
  <servlet>
    <servlet-name>KisiKayitServlet</servlet-name>
    <servlet-class>Servletler.KisiKayitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>KisiKayitServlet</servlet-name>
    <url-pattern>/WicWeb1/KisiKayitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdresKayitServlet</servlet-name>
    <servlet-class>Servletler.AdresKayitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdresKayitServlet</servlet-name>
    <url-pattern>/WicWeb1/AdresKayitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TelefonKayitServlet</servlet-name>
    <servlet-class>Servletler.TelefonKayitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TelefonKayitServlet</servlet-name>
    <url-pattern>/WicWeb1/TelefonKayitServlet</url-pattern>
  </servlet-mapping>
</web-app>
